<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/public/css/registerStyle.css">
</head>
<body>
    <div class="Loginbox">
        <img src="/public/images/avatar.png" class="avatar">
        <h1>Register</h1>
        <form action="/register" method="post">
        <p>Username</p>
            <input type="text" id="name" name="name" placeholder="Enter Username" required>
            <p>Email</p>
            <input type="email" id="email" name="email" placeholder="Enter Email" required>
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <input type="submit" value=Register> <br>
            <a href="#">Forgot password?</a><br>
            <a href="#">Change password?</a>
            
        </form>
        
       
    
    </div>
    
    
</body>
</html>